*{
  margin:0;
  padding:0;
}
.mykongaimage{
  width:100%;
  height:30px;
  background-color: #f6f6f6;
  justify-content:space-evenly;
  align-items: center;
  display: flex;
}
.nav2{
  background-color: #ed017f;
  width:100%;
  height:60px;
  /* position:fixed; */
}
.mylogo{
  display:flex;
  flex-wrap: wrap;
}
.mylogo img{
  margin-top:6px;
}
.help{
  display:flex;
  flex-wrap: wrap;
  text-decoration:none;
    color:white;
    font-size:13px;
    font-weight:400;
    font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
  .help button:hover{
    background-color:white;
    color: #ed017f;
  }
.navbars{
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchInput{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.searchInputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
#drop{
  height:80vh;
    width:100%;
    background-color: #ffffff;
    overflow-y:scroll;
    position: absolute;
    top:40px;
    display:none;
}
#drop::-webkit-scrollbar{
  display: none;
}
 .searchInput input{
    height:40px;
    width:450px;
    border:0;
    border-top-right-radius:0;
     border-bottom-right-radius:0;
     border-top-left-radius:5px;
     border-bottom-left-radius:5px;
     outline:0;
  }
  .searchInput button{
     width:50px;
     height:40px;
    border-top-right-radius:5px;
     border-bottom-right-radius:5px;
     border-top-left-radius:0;
     border-bottom-left-radius:0;
     border:0;
     background-color:#fba50a;
  }
  .store button{
    width:120px;
    height:60px;
    background:none;
    border:0;
    color: #ffffff;
    font-size:13px;
    font-weight:400;
    font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
  }

  .store button:hover{
    background-color:white;
    color: #ed017f;
  }
  .mycart{
    width:140px;
    height:45px;
    margin-top:7px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    background-color:#33b27b;
  }
  .mycart button{
    width:25px;
    background:0;
    border:0;
    color: #ffffff;
    font-size:13px;
    font-weight:400;
    font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
  }
  #addtocart{
    width:20px;
    height:30px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .down{
    width:90px;
    height:60px;
   display: flex;
   align-items: center;
    position: relative;
  }
  .down:hover{
    background-color: #ffffff;
    color: #ed017f;
  }
  .Contact{
    width:200px;
    height:180px;
    background-color: #ffffff;
    box-shadow:3px 3px 3px 2px rgba(0, 0, 0, 0.247);
    position: absolute;
   top:60px;
   display:none;
   z-index:1;
  }
  .down:hover .Contact{
    display:block;
   
  }
  .konga{
    width:100%;
    height:40px;
    color:black;
    margin-top:5px;
    padding-left:10px;
    padding-top:5px;
    font-size:13px;
    font-weight:400;
    font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
  }
  .konga:hover{
    background-color:rgba(0, 0, 0, 0.171);
  }

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 300,
'GRAD' -25,
'opsz' 20
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 300,
'GRAD' 0,
'opsz' 24
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' -25,
'opsz' 20
}


#login{
  width:130px;
  height:60px;
  margin-left:5px;
  padding-left:10px;
    padding-top:5px;
    font-size:13px;
    font-weight:400;
    font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#login:hover{
  background-color: #ffffff;
  color: #ed017f;
}
.span{
  display: flex;
  flex-wrap: wrap;
  height:20px;
}
.span2{
  display: flex;
  flex-wrap: wrap;
  height:20px;
  align-items: center;
  justify-content: space-around;
  width:10%;
}
.span button{
  background: none;
  border:0;
}
.span2 button{
  background: none;
  border:0;
}
.nav3{
  width:100%;
  height:80px;
  background-color:white;
  position: fixed;
  box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.082);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index:1;
}
#input{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
#input:focus-within #drop{
  display:block;
}
#input input{
    height:40px;
    width:91%;
    border:0;
    background-color:rgba(128, 128, 128, 0.425);
    border-top-right-radius:0;
     border-bottom-right-radius:0;
     border-top-left-radius:5px;
     border-bottom-left-radius:5px;
     outline:0;
  }
  #input button{
     width:8%;
     height:40px;
    border-top-right-radius:5px;
     border-bottom-right-radius:5px;
     border-top-left-radius:0;
     border-bottom-left-radius:0;
     border:0;
     background-color:#fba50a;
  }
  .secondnavbar{
    display:none;
  }

#categories{
width:100%;
height:50px;
background-color:#94004f;
display: flex;
flex-wrap: wrap;
justify-content: space-around; 
align-content: center;

}
#butts{
color: #ffffff;
width:160px;
justify-content: center;
align-items: center;
height:50px;
display: flex;
flex-wrap: wrap;
font-size:13px;
font-weight:700;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}

#butts:hover #categoriesdropdown{
display: block;
}
#butts:hover{
    background-color:#ffffff;
    color:#2e2e2e;
  }
#categoriesdropdown{
width:20%;
height:70vh;
background-color:#f2f2f2;
position: absolute;
left:0;
right:0;
top:140px;
display: none;
z-index:1;
}
#categoriesdropdown div{
width:100%;
height:40px;
color:#2e2e2e;
margin-top:5px;
padding:6px;
}
#categoriesdropdown div:hover{
background-color: #ffffff;
color: #ed017f;
}
#butts:hover #categoriesdropdown{
display: block;
}

#accessories{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#accessories::-webkit-scrollbar {
    display: none;
}
#tablets{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#tablets::-webkit-scrollbar {
    display: none;
}
#electro{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#electro::-webkit-scrollbar {
    display: none;
}
#kongo{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#kongo::-webkit-scrollbar {
    display: none;
}
#kitchen{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#cattt{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#kitchen::-webkit-scrollbar {
    display: none;
}
#cattt::-webkit-scrollbar {
    display: none;
}
#toy{
width:100%;
height:70vh;
background-color: #ffffff;
position: absolute;
left:0;
right:0;
top:140px;
box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.164);
justify-content: space-around;
overflow-y: scroll;
display:none;
z-index:1;
}
#toy::-webkit-scrollbar {
    display: none;
}
#computer{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#phones{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#electronic{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#fashion{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#home{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#babything{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#other{
padding:10px;
display:flex;
align-items: center;
justify-content: center;
height:50px;
background:none;
border:0;
color:white;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
}
#computer:hover #accessories{
display:block;
}
#computer:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#other:hover #cattt{
display:block;
}
#other:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#electronic:hover #electro{
display:block;
}
#electronic:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#phones:hover #tablets{
display:block;
}
#phones:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#fashion:hover #kongo{
display:block;
}
#fashion:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#home:hover #kitchen{
display:block;
}
#home:hover {
background-color: #ffffff;
color: #2e2e2e;
}
#babything:hover #toy{
display:block;
}
#babything:hover {
background-color: #ffffff;
color: #2e2e2e;
}
.item1 h1{
font-size:13px;
font-weight:700;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:14px;
}
.item1 p{
margin-top:20px;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:8px;
}
.item1 p:hover{
color:#ed017f;
}
.item2 h1{
font-size:13px;
font-weight:700;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:14px;
}
.item2 p{
margin-top:20px;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:5px;
}
.item2 p:hover{
color:#ed017f;
}
.allitems{
width:70%;
float:left;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content:space-between;
margin-left:60px;

}

.item3 h1{
font-size:13px;
font-weight:700;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:14px;
}
.item3 p{
margin-top:20px;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:8px;
}
.item4 h1{
font-size:13px;
font-weight:700;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:14px;
}
.item4 p{
margin-top:20px;
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
line-height:10px;
}
.item3 p:hover{
color:#ed017f;
}
.item4 p:hover{
color:#ed017f;
}
.item1{
width:190px;
height:220px;
margin-top:30px;
/* justify-content:space-between; */
}
.item2{
width:190px;
height:230px;
margin-top:30px;
justify-content:space-between;
}
.item3{
width:190px;
height:260px;
margin-top:30px;
justify-content:space-between;
}
.item4{
width:190px;
height:300px;
margin-top:30px;
justify-content:space-between;
}
.itemimage{
width:200px;
height:70vh;
float:left;
margin-top:20px;margin-left:30px;
}
.itemimage img{
width:250px;
height:70vh;

}
#menus{
width:100%;
height:100vh;
 background-color:white;
 overflow-y:scroll;
}
#menus::-webkit-scrollbar{
display:none;
}

#logsign{
width:100%;
display: flex;
justify-content:space-between;
margin-top:20px;
}
#logsign h4{
text-align: cep;
font-size:12px;
font-weight:600;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#b1015f;
margin-left:25px;
}
.track{
width:45%;
border:1px solid #2e2e2e;
border-left:0;
border-bottom:0;
display: flex;
align-self: center;
}
.track b{
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
.tracks{
width:45%;
height:50px;
border:1px solid #2e2e2e;
border-right:0;
border-bottom:0;
display: flex;
align-self: center;
}
.tracks b{
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
.trackor{
width:45%;
/* height:50px; */
border:1px solid #2e2e2e;
border-bottom:0;
border-right:0;
display: flex;
align-self: center;
}
.trackor b{
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
.tracker{
width:45%;
border:1px solid #2e2e2e;
border-bottom:0;
border-left:0;
display: flex;
align-self: center;
}
.tracker b{
font-size:13px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
.tracker small{
font-size:10px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
.trackor small{
font-size:10px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}

.track small{
font-size:10px;
font-weight:400;
font-family: "Helvetica Neue"-apple-systemBlinkMacSystemFont"Segoe UI"RobotoOxygenUbuntuCantarell"Fira Sans""Droid Sans"sans-serif;
color:#1c1d1f;
}
#location{
width:100%;
display: flex;
justify-content: center;
align-self: center;
flex-wrap: wrap;
margin-top:20px;
}
#nav4{
width:100%;
height:70px;
display:flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
padding-top:100px;
}
#icons{
width:100%;
display:flex;
background-color: #ffffff;
flex-wrap: wrap;
justify-content:space-around;
}
#icons div{
line-height:6px;
text-align: center;
}
#icons span{
font-size:30px;
font-weight:300;
color:#1c1d1f;
}
#icons small{
font-size:13px;
font-weight:300;
color:#1c1d1f;
}
#dropdown3{
width:100%;
height:100vh;
padding-top:60px;
overflow-y: scroll;
}
#dropdown3::-webkit-scrollbar{
display: none;
}
#dropdown3 div{
width:100%;
height:50px;
border-bottom:1px solid #2e2e2e;
margin-top:20px;
display: flex;
align-items: center;
justify-content:space-between;
}

#menucatego{
width:100%;
height:80vh;
box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.137);
margin-top:27px;
}
#menucatego div{
width:100%;
height:50px;
border-bottom:1px solid #b5b2ac;
display: flex;
align-items: center;
justify-content:space-between;
padding:10px;
}
#ddcategories {
background-color: #1c1d1f;
display: flex;
align-items: center;
color:#ffffff;
justify-content:space-around;
}
#mancategories {
background-color: #1c1d1f;
display: flex;
align-items: center;
color:#1c1d1f;
justify-content:space-around;
padding:10px;
}
.contacts{
width:100%;
height:30vh;
}
.person{
display: flex;
flex-wrap: wrap;
margin-top:20px;
}
    #ddcategories b{
width:90%;
text-align: center;
}
.secondnavbar{
display:none;
}
#background1{
    width:100%;
    height:30vh;
    background-color:#ffffff;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #HOME{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: none;
    border:0;
    font-size:12px;
    font-weight: 400;
    color:#000000;
    font-family:"Helvetica Neue",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
  }

  .mybut{
    width:95%;
    height:20vh;
  }
  #cartContainer{
    width:100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: #f2f2f2;
    /* overflow-y: scroll; */
  }
  /* #allitemadded::-webkit-scrollbar{
    display: none;
  } */

  #background2{
    width:100%;
    background-color:black;
  }


#soldItem{
    width:95%;
    font-size:40px;
    font-weight: 700;
    line-height:40px;
    color: #1c1d1f;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   thead th{
    width:40%;
    background-color: #b5b2ac;
    padding:3px;
    font-size:14px;
    font-weight: 700;
    color:#4a4a4a;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   
   tbody {
    width:100%;
    height:150px;
    background-color:#ffffff;
    padding:3px;
    font-size:14px;
    font-weight: 700;
    color:#4a4a4a;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   .tables{
    width:100%;
    height:30vh;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.062);
    border: #b5b2ac;
   }
   #table2{
    width:65%;
    height:60vh;
    overflow-y: scroll;
    
   }
   #table2::-webkit-scrollbar{
    display: flex;
   }
   #checkout{
    width:25%;
    height:60vh;
    background-color: #ffffff;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.062);
   }
   #order{
    width:100%;
    height:35px;
    border-bottom:1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px;
   }
   #order h1{
    font-size:14px;
    font-weight: 700;
    color:#000000;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #delivery{
    width:100%;
    height:60px;
    border-bottom:1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px;
   }
   #delivery h1{
    font-size:12px;
    font-weight:400;
    color:#000000;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #delivery p{
    width:70px;
    font-size:10px;
    font-weight:300;
    color:#000000;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #subtotal{
    width:100%;
    height:35px;
    border-bottom:1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px;
   }
   #subtotal h1{
    font-size:14px;
    font-weight:500;
    color:#000000;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #total{
    width:100%;
    height:35px;
    border-bottom:1px solid #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px;
   }
   #total h1{
    font-size:14px;
    font-weight:700;
    color:#000000;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #checkoutbut{
    width:100%;
    height:65px;
    border-bottom:1px solid #f2f2f2;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:3px;
   }
   #checkoutbut form{
    width: 85%;
   }
   #checkoutbut button{
    width:95%;
    height:35px;
    border-radius:5px;
    background-color: #33b27b;
    border:0;
    color:#ffffff;
    font-size:14px;
    font-weight:500;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #imag{
    width:100%;
    height:30px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding:3px;
   }
   #imag small{
    color: #4a4a4a;
    font-size:11px;
    font-weight:300;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   #lock{
    width:100%;
    display: flex;
   margin-left:20px;
    align-items: center;
   }
   #lock small{
    color: #4a4a4a;
    font-size:11px;
    font-weight:300;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
   }
   .numquan{
    width:100px;
    height:40px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color:#ffffff;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.212);
   }
   .numquan button{
    width:30px;
    height:40px;
    border:1px solid #f2f2f2;
   }
   .detail{
    width:250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
   }
   .detail h1{
    font-size:14px;
    font-weight:500;
    color: #2e2e2e;
   }
   .detail p{
    font-size:12px;
    font-weight:400;
    color: #2e2e2e;
   }
   .price h1{
    font-size:14px;
    font-weight:500;
    color: #2e2e2e;
   }
   .price p{
    font-size:12px;
    font-weight:400;
    color: #2e2e2e;
   }
   .action button{
    font-size:14px;
    font-weight:400;
    color:#94004f;
    border:0;
    background: none;
   }
  

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}

#empty{
  width:100%;
  height:100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contents{
    width:400px;
    height:50vh;
    background-color: #ffffff;
    box-shadow:3px 3px 3px 3px  rgba(0, 0, 0, 0.103);
   text-align: center;
    justify-content: center;
    padding-top:50px;
  
}
.contents span{
  color: #ed017f;
  font-size:70px;
  font-weight:700;
 
}
.contents h1{
  font-size:14px;
  font-weight:700;
  color: #1c1d1f;
   font-family:"Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
}
.contents p{
  font-size:12px;
  font-weight:400;
 
  font-family:"Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", sans-serif;
  color: #1c1d1f;
}

       #addtocart{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .footer{
        width: 100%;
        height: fit-content;
    }
    .top{
        width: 100%;
        height: 13vh;
        background-color: rgb(46,46,46);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-flex{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: aqua; */
    }
    .long{
        display: flex;
    }
    .long button{
        width: 110px;
        height:50px;
        padding: 10px;
        border: 0px;
        background-color: rgb(237,1,127);
        font-size: 15px;
        color: white;
        font-weight: bold;
    }
    .long input{
        width: 250px;
        height:30px;
        padding: 10px;
        border: 0;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        outline: none;
    }
    
    .email{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* background-color: blue; */
    }
    
    .icon{
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    .text h2, .text1 h2{
        margin-top: 12px;
    }
    .text p, .text1 p{
        margin-top: -12px;
    }
    .text1{
        display: block;
        /* background-color: aqua; */
    }
    
    
    
    
    .bottom{
        width: 100%;
        height: 60vh;
        background-color: rgb(12,12,12);
        
    }
    .bottom-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex{
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        /* align-items: center; */
        /* background-color: aqua; */
    }
    .about{
        width: 20%;
        /* background-color: aqua; */
    }
    
    .about h2, .email h2, .about1 h2{
        color: rgb(181,181,181);
        font-size: 15px;
        margin-bottom: 20px;
    }
    .about p, .email p, .about1 p{
        font-size: 12px;
        color: rgb(181,181,181);
    }
    .about p:hover, .about h2:hover{
        color: white;
    }
    .allabout{
        width: 65%;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
    }
    .download{
        margin: 0px, 0px, 60px, 0px;
    }
    .download h2{
        color: rgb(181,181,181);
        font-size: 15px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .apple{
        width: 150px;
        height: 42px;
        border-radius: 4px;
        background-color: black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: white;
    }
    .flex-apple{
        width: 320px;
        display: flex;
        justify-content: space-between;
        /* background-color: aqua; */
    
    }
    .apple span{
        font-size: 10px;
        
    }
    .apple h4{
        font-size: 15px;
        font-weight: bold;
    }
    .connect{
        margin-top: 50px;
    }
    .icons{
        width: 65%;
        display: flex;
        justify-content: space-between;
        /* background-color: aqua; */
    }
    .circle{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: rgb(51,51,51);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .circle:hover{
        background-color: white;
        cursor: pointer;
    }
    .facebook, .twitter, .youtube, .instagram{
        color: white;
        margin-top: 5px;
    }
    .facebook:hover, .twitter:hover{
        color: rgb(56,82,154);
    }
    .twitter:hover{
        color: rgb(3,164,236);
    }
    .instagram{
        margin: 0;
    }
    .instagram:hover{
       .f{
        display: none;
       }
       .k{
        display: block;
       }
    }
    .youtube:hover{
        color: rgb(247,0,0);
    }
    .f{
        display: block;
    }
    .k{
        display: none;
    }
    .last{
        width: 100%;
        /* background-color:   black; */
        margin-top: 40px;
    }
    .copy{
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .copy hr{
        width: 39%;
        color: white;
        border: 1px solid white;
    }
    .copy p{
        font-size: 12px;
        color: rgb(136,155,136);
        margin: 0px 7px;
        /* background-color: aqua; */
    }